@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.comment {
  display: flex;
  gap: $Padding-between-components-m;
  border-bottom: 1px solid $Mercury;
  margin-top: $Padding-after-headlines-m;

  &__placeholder{
    width: 100%;

    @include tablet {
      width: 20%;
    }
  }

  &__placeholderImg {
    border-radius: 50%;
    background-color: $Mercury;
    width: 2.25rem;
    height: 2.25rem;
  }

  &__info {
    display: flex;
    // justify-content: space-between;
    // align-items: center;
    // flex-direction: column;
    // width: 70%;

    // @include tablet{
    //   width: ;
    // }

    &--details {
      display: flex;
      
      flex-direction: column;

      @include tablet {
        
      }
      @include desktop {
       
      }
    }
  }

  &__title {
    margin: 0;
    font-weight: $text-weight-subheader-m;

    @include tablet {
      font-weight: $text-weight-subheader;
    }

    @include desktop {
      font-weight: $text-weight-subheader;
    }
  }

  &__date {
    color: $Silver;
    margin: 0;
  }

  @include tablet {
    margin-top: $Padding-after-headlines;
  
  }

  @include desktop {
    margin-top: $Padding-after-headlines;

  }
}
