// primary colors
$BrainFlix-black:#323232;
$BrainFlix-blue:#0095FF;
$Silver: #AFAFAF;
$White:#FFFFFF;

// Secondary colors
$BrainFlix-DarkBlack: #000000;
$BandSite-Darkblack-overlay: rgb(50, 50, 50, 50%);
$BrainFlix-black: #323232;
$Mercury: #E1E1E1;
$Alabaster: #FAFAFA;

// padding increments for desktop & tablet

$Padding-before-headlines: 36px;
 $Padding-after-headlines: 24px;
 $Padding-between-components: 24px;


 // padding increments for desktop & tablet


 $Padding-before-headlines-m: 24px;
 $Padding-after-headlines-m: 16px;
 $Padding-between-components-m: 16px;

//border/radius for all
 $border-radius: 4px;

 //button height and properties
 $button-height : 2.5rem;
 $button-padding :2rem;