@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.mainvideo {
  margin-top: $Padding-before-headlines-m;
  margin-bottom: $Padding-before-headlines-m;
  display: flex;

  &__player{
    width: 100%;
  }

    &--controlContainer {
      display: flex;
      justify-content: space-around;
      align-items: center;
      position: absolute;
      position: absolute;
      top: 8rem;
      left: 0.2rem;
      gap: 0.5rem;

      @include tablet {
        bottom: -14rem;
        left: 2rem;
        gap: 3rem;
      }
      @include desktop {
        bottom: -21rem;
        gap: 2rem;
        right: 3rem;
      }
    }

    &--controls {
      background-color: $BandSite-Darkblack-overlay;
      width: fit-content;
      display: flex;
      padding: 6px;
      border-radius: $border-radius;

    
     
    }

    &__title {
      font-weight: 800;
    }

    &__timestamp {
      color: $Silver;
    }

    &__content {
      display: flex;
      border-top: 1px solid $Mercury;
      border-bottom: 1px solid $Mercury;
      gap: $Padding-between-components-m;

      @include tablet {
        display: flex;
        justify-content: space-between;
      }
      @include desktop {
        display: flex;
        justify-content: space-between;
      }

      &--one,
      &--two {
        @include tablet {
          display: flex;
          gap: $Padding-between-components;
          align-items: center;
        }
        @include desktop {
          display: flex;
          gap: $Padding-between-components;
          align-items: center;
        }
      }

      &--two {
        @include tablet {
          display: flex;
          gap: $Padding-between-components;
          align-items: center;
        }
        @include desktop {
          display: flex;
          gap: $Padding-between-components;
          align-items: center;
        }
      }

      &--info {
        color: $Silver;
      }
    }
    @include tablet {
      flex-direction: column;
      align-items: center;
    }
    @include desktop {
      flex-direction: column;
      align-items: center;
    }
  }



