@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.videoUpload{
  padding: 0 $Padding-between-components-m;
  box-sizing: border-box;


&__title {
  font-weight: 700;
  border-top: 1px solid $Mercury;
  padding-top: 1rem;

  @include tablet {
    font-weight: 700;
    padding-top: 2rem;
  }

  @include desktop {
    font-weight: 700;
    padding-top: 2.5rem;
  }
}

&__borders {
 
  border-bottom: 1px solid $Mercury;
  margin-bottom: $Padding-after-headlines-m;

  @include tablet {
    border-top: 1px solid $Mercury;
    margin-bottom: $Padding-after-headlines;
  }

  @include desktop {
    margin-bottom: $Padding-after-headlines;
    display: flex;
    flex-direction: row;
  }
}

&__thumbnail {
  font-weight: 600;
  color: silver;
}

&__buttons {

  @include tablet {
    display: flex;
    flex-direction: row-reverse;
    gap: 2rem;
    align-items: center;
  }

  @include desktop {
    display: flex;
    height: 2.5rem;
    flex-direction: row-reverse;
    gap: 2rem;
    align-items: center;
  }
}

&__form {
  @include desktop {
    width: 100%;
  }
}


&__formgroup {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-top: $Padding-after-headlines-m;
  margin-bottom: $Padding-before-headlines-m;
}
&__form_control_1 {
  height: 1.5rem;
  width: 15.5rem;
  border: 1px solid $Silver;
  background-color: $Mercury;
  border-radius: $border-radius;
  padding: 12px;

  background-color: $Alabaster;

  @include tablet {
    height: 0.5rem;
    padding: 1rem;
    width: 85vw;
  }

  @include desktop {
    height: 2.5rem;
    padding: 1rem;
    width: 50rem;
  }
}

&__form_control_2 {
  height: 2.625rem;
  width: 15.5rem;
  border: 1px solid $Silver;
  padding: .75rem;
  border-radius: $border-radius;
  background-color: $Alabaster;

  @include tablet {
    height: 3.5rem;
    width: 85vw;
  }

  @include desktop {
    height: 2.5rem;
    width: 50rem;
  }
}
&__button {
  width: 100%;
  color: white;
  background-color: $BrainFlix-blue;
  display: flex;
  justify-content: left;
  align-items: center;
  border: none;
  height: 2.5rem;
  border-radius: $border-radius;
  margin-bottom: $Padding-after-headlines-m;
  font-weight: 600;

  @include tablet {
    width: 9.375rem;
    justify-content: left;
  }

  @include desktop {
    width: 9.375rem;
  }
}



  @include tablet {
    padding: 0 $Padding-between-components;
  }

  @include desktop {
    padding:  0 $Padding-before-headlines;
  }
}







.label {
  color: $Silver;
  font-weight: 600;
}





.img_upload {
  width: 100%;

  @include tablet {
    width: 50%;
  }

  @include desktop {
    width: 50%;
  }
}







.publish-icon {
  margin-right: 5.5rem;

  @include tablet {
    margin-right: 2rem;
  }

  @include desktop {
    margin-right: 2rem;
  }
}

.Cancel_button {
  text-align: center;
  color: $BrainFlix-blue;
  font-weight: 600;
}


