@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.Header {
  display: flex;
  flex-direction: column;
  gap: $Padding-between-components-m;
  justify-content: center;
  align-items: center;
  padding: $Padding-between-components-m;
  box-sizing: border-box;

  &__group{
    display: flex;
    gap: 1rem;

  }
  
  &__content {
    gap: $Padding-between-components-m;
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
      gap: 1rem;
      width: fit-content;
    }

    @include desktop {
     
      width: fit-content;
     
    }
  }
  &__logo {
    width: 7.5rem;
    height: 1.5625rem;
  }

    &__container{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: .25rem ;

    @include tablet {
      display: flex;
      flex-direction: row;
    }
    @include desktop {
      display: flex;
      flex-direction: row;
    }
  }

  &__form {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: $Padding-between-components-m;
    

   

    &__control {
      width: 9.375rem;
      height: 2.25rem;
      border: 1px solid $Mercury;
      border-radius: $border-radius;
      padding: 0 $Padding-before-headlines ;
      background-color: $Alabaster;
      background: url('../../assets/Icons/search.svg')  no-repeat 10px center;
   

      @include tablet {
        width: 15rem;
        height: 2.5rem;
        background-color: $Alabaster;
      }

      @include desktop {
        width: 15rem;
        height: 2.5rem;
      }
    }

    @include tablet {
      flex-direction: row;
    }

    @include desktop {
      flex-direction: row;
    }
  }

  &__avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    
    @include tablet {
      width: 40px;
      height: 40px;
    }
    @include tablet {
      width: 40px;
      height: 40px;
    }
  }

  &__upload {
    width: 100%;
    color: white;
    background-color: $BrainFlix-blue;
    display: flex;
    justify-content: left;
    align-items: center;
    border: none;
    height: 40px;
    border-radius: $border-radius;
    font-weight: $text-weight-buttons-m;

    @include tablet {
      padding-left: 2rem;
      padding-right: 2rem;
      justify-content: left;
    }

    @include desktop {
      flex-direction: row;
    }

    &--icon {
      margin-right: 4.375rem;
    }
  }



  @include tablet {
    display: flex;
    flex-direction: row;
    justify-content: left;
   
  }

  @include desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: $Padding-between-components $Padding-before-headlines
      $Padding-between-components $Padding-before-headlines;
  }
}
