@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;


*{
    font-family: 'Avenir Next LT Regular';
  }

.Header {
  display: flex;
  flex-direction: column;
    gap: $Padding-between-components-m;
    font-family: 'Avenir Next LT Regular';
    justify-content: center;
    padding: $Padding-between-components-m;
    

    &__logo{
        width: 120px;
        height: 25px;
        align-self: center;
    }

    &__container{
        display: flex;
        justify-content: space-between;
        gap: $Padding-between-components-m;
    }
    
    &__containerSearch{
        display: flex;
    }

    &__searchInput{
        width: 70%;
        border: 1px solid $Mercury;
        border-radius: $border-radius ;
        background-image: url(../../assets/Icons/upload.svg);
        background-position: -33px -30px;
    }


    &__avatar{
        width: 36px;
        height: 36px;
        border-radius: 50%; 
    }


    &__upload{
        width: 100%;
        color: white;
        background-color: $BrainFlix-blue;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        height: 40px;
        border-radius: $border-radius;
    }

    &__content{
        gap: $Padding-between-components-m;
        display: flex;
        flex-direction: column;
    }
}