@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.mainvideo {
  margin-top: $Padding-before-headlines-m;
  margin-bottom: $Padding-before-headlines-m;
  display: flex;

  &__title {
    font-weight: $text-weight-section-header-m;

    @include tablet {
      font-weight: $text-weight-section-header;
    }

    @include desktop {
      font-weight: $text-weight-section-header;
    }
  }

  &__channel {
    font-weight: $text-weight-subheader-m;

    @include tablet {
      font-weight: $text-weight-subheader;
    }

    @include desktop {
      font-weight: $text-weight-subheader;
    }
  }

  &__comments {
    font-weight: $text-weight-subheader;
  }

//   &__player {
//     width: 100%;
//     aspect-ratio: 16/9;

//     &--container {
//       position: relative;
//       display: flex;
//       justify-content: center;
//       flex-direction: column;

//       @include tablet {
//         flex-direction: column;
//       }
//       @include desktop {
//         // bottom: -29rem;
//         gap: 2rem;
//       }
//     }


  &__timestamp {
    color: $Silver;
  }

  &__content {
    display: flex;
    border-top: 1px solid $Mercury;
    border-bottom: 1px solid $Mercury;
    gap: $Padding-between-components-m;

    @include tablet {
      display: flex;
      justify-content: space-between;
    }
    @include desktop {
      display: flex;
      justify-content: space-between;
    }
  }
    &__contentInfo {
      color: $Silver;
      display: flex;
      display: flex;
      gap:$Padding-between-components-m
    }

    &__content1,
    &__content2 {
      @include tablet {
        display: flex;
        gap: $Padding-between-components;
        align-items: center;
      }
      @include desktop {
        display: flex;
        gap: $Padding-between-components;
        align-items: center;
      }
    }

    &--two {
      @include tablet {
        display: flex;
        gap: $Padding-between-components;
        align-items: center;
      }
      @include desktop {
        display: flex;
        gap: $Padding-between-components;
        align-items: center;
      }
    }
  
  @include tablet {
    flex-direction: column;
    align-items: center;
  }
  @include desktop {
    flex-direction: column;
    align-items: center;
  }
}

