@use "./styles/partials/mixins" as *;
@use "./styles/partials/variables" as *;
@use "./styles/partials/typography" as *;

*{
  font-family: 'AvenirNextLTPro';
  font-weight: normal;
    font-style: normal;
}
.app{

  
  @include desktop{
    padding: $Padding-between-components 
}
}