@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

main {
  box-sizing: border-box;
margin: 0;
padding: 0 $Padding-between-components-m 0 $Padding-between-components-m;
}
.sidebar {
  @include desktop {
    display: block;
    width: 30vw;
    padding: 20px;
    border-left: 1px solid $Mercury;
  }
}

.Padding_homepage {
  @include desktop {
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.hero-comments-container {
  @include desktop {
    width: 70vw;
    padding: 0 $Padding-between-components-m;
  }
}
