@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;


.aside{
@include desktop {
    display: block;
    width: 300px;
    padding: 20px;
    background-color: #f4f4f4;
    border-left: 1px solid #ddd;
}
}