@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.otf") format("opentype"), url("../../assets/Font/Alternative files/AvenirNextLTPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next LT Bold";
  src: url(".../../assets/Font/AvenirNextLTPro-Bold.otf") format("opentype"), url("../../assets/Font/Alternative files/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next LT Demi";
  src: url("../../assets/Font/AvenirNextLTPro-Demi.otf.otf") format("opentype"), url("../../assets/Font/Alternative files/AvenirNextLTProDemi.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.mainvideo {
  margin-top: 24px;
  margin-bottom: 24px;
}
.mainvideo__player {
  width: 100%;
  aspect-ratio: 16/9;
}
.mainvideo__player--container {
  position: relative;
  display: flex;
  justify-content: center;
}
.mainvideo__player--controlContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 7rem;
  gap: 0.5rem;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .mainvideo__player--controlContainer {
    bottom: -15rem;
    gap: 3rem;
  }
}
@media (min-width: 1280px) and (max-width: 1919px) {
  .mainvideo__player--controlContainer {
    bottom: -29rem;
    gap: 2rem;
  }
}
.mainvideo__player--controls {
  background-color: rgba(50, 50, 50, 0.5);
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  padding: 6px;
  border-radius: 4px;
}
.mainvideo__player--controls--scrub {
  background-color: rgba(50, 50, 50, 0.5);
  align-items: center;
  display: flex;
  height: 30px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 4px;
}
.mainvideo__player--controls--scrubline {
  height: 1px;
  background-color: #323232;
  width: 110px;
  display: inline-block;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .mainvideo__player--controls--scrubline {
    width: 400px;
  }
}
@media (min-width: 1280px) and (max-width: 1919px) {
  .mainvideo__player--controls--scrubline {
    width: 800px;
  }
}
.mainvideo__timestamp {
  color: #AFAFAF;
}
.mainvideo__content {
  display: flex;
  border-top: 1px solid #E1E1E1;
  border-bottom: 1px solid #E1E1E1;
  gap: 16px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .mainvideo__content {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1280px) and (max-width: 1919px) {
  .mainvideo__content {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .mainvideo__content--one, .mainvideo__content--two {
    display: flex;
    gap: 24px;
    align-items: center;
  }
}
@media (min-width: 1280px) and (max-width: 1919px) {
  .mainvideo__content--one, .mainvideo__content--two {
    display: flex;
    gap: 24px;
    align-items: center;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .mainvideo__content--two {
    display: flex;
    gap: 24px;
    align-items: center;
  }
}
@media (min-width: 1280px) and (max-width: 1919px) {
  .mainvideo__content--two {
    display: flex;
    gap: 24px;
    align-items: center;
  }
}
.mainvideo__content--info {
  color: #AFAFAF;
}

.articles {
  display: flex;
  gap: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.articles__avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .articles__separate {
    display: flex;
    flex-direction: column;
  }
}
.articles__comment {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .articles__comment {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
.articles__button {
  width: 100%;
  color: white;
  background-color: #0095ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  height: 40px;
  border-radius: 4px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .articles__button {
    height: 40px;
    width: 150px;
    padding: 2rem;
  }
}
@media (min-width: 1280px) and (max-width: 1919px) {
  .articles__button {
    height: 40px;
    width: 150px;
    padding: 2rem;
  }
}
.articles__title {
  margin: 0;
}
.articles__input {
  height: 50px;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .articles__input {
    height: 40px;
    width: 240px;
  }
}
@media (min-width: 1280px) and (max-width: 1919px) {
  .articles__input {
    height: 40px;
    width: 240px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .articles {
    align-items: center;
    gap: 36px;
  }
}/*# sourceMappingURL=VideoDetails.css.map */